body {
    color: #444;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div.main {
    flex: 1 0 auto;
}

div.main .row .header {
    font-weight: 300;
}

nav.top-nav {
    height: 110px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background-color: transparent;
}

nav.top-nav h1.header {
    color: #444;
    font-weight: 300;
    margin: 0;
    padding-top: 22px;
}

.docs-footer {
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    color: inherit;
    padding: 15px 0;
}

.docs-footer .footer-copyright {
    color: inherit;
    background-color: transparent;
}

:not(pre)>code[class*="language-"] {
    background: rgba(246,246,246,0.3);
}

:not(pre)>code[class*="language-"] {
    padding: .1em .25em;
    border: solid 1px rgba(51,51,51,0.12);
}
